@model List<ChurchPlannerApp.Models.Service>
@{
    ViewBag.Title = "Service";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="@Url.Action("AddService", "ServicePlan")" class="btn btn-success center-block" style="margin-top:30px;">
                Create a Service
            </a>
            @foreach (var s in Model)
            {
                <div class="center-block">
                    <p>@s.Title</p>
                    <ul>
                        <li>Service: @s.ServiceDate</li>
                        <li>Practice: @s.PracticeDate</li>
                        <a href="@Url.Action("RemoveService", "ServicePlan",new {id=s.ServiceID})" class="btn btn-danger center-block" style="margin-top:30px;">
                            Delete
                        </a>
                    </ul>

                </div>
            }
        </div>
    </div>
</div>