@model ChurchPlannerApp.Models.ProfileServiceViewModel
@{
    ViewBag.Title = "Requests";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            @foreach (var p in Model.Profiles)
            {
                <div class="center-block">
                    <ul>
                        @foreach (var sr in p.ServiceRequests)
                        {
                            @if (sr.Is_Accepted == false)
                            {
                                <li>@sr.Is_Accepted</li>
                                <li>@sr.ServiceR.Title</li>
                                <li>@sr.ProfileR.FName @sr.ProfileR.LName</li>
                                <a href="@Url.Action("AcceptRequest", "Request", new { PID = sr.ProfileID, SID = sr.ServiceID })" class="btn btn-success center-block" style="margin-top:30px;">
                                    Accept
                                </a>
                            }
                        }

                    </ul>


                </div>
            }
        </div>
    </div>
</div>