﻿@model ChurchPlannerApp.Models.ProfileViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "New Profile";
}

<h1 class="text-center">Create a New Profile</h1>
<form asp-controller="Profile" asp-action="AddProfile" method="post">
    <div class="form-group center-block">
        <input asp-for="profile.ProfileID" type="hidden" />

        <label asp-for="profile.FName">First Name:</label>
        <input asp-for="profile.FName" class="form-control" /><br />

        <label asp-for="profile.LName">Last Name:</label>
        <input asp-for="profile.LName" class="form-control" /><br />

        <label asp-for="profile.UserName">Username:</label>
        <input asp-for="profile.UserName" class="form-control" /><br />

        <label asp-for="profile.Email">Email:</label>
        <input asp-for="profile.Email" class="form-control" /><br />

        <label asp-for="profile.PhoneNum">Phone Number:</label>
        <input asp-for="profile.PhoneNum" class="form-control" /><br />

        @for (int i = 0; i < Model.Instruments.Count(); i++)
        {
            <label asp-for="@Model.Instruments[i].Name">@Model.Instruments[i].Name</label>
            <input asp-for="@Model.Instruments[i].Selected"  type="checkbox" />
            <input asp-for="@Model.Instruments[i].InstrumentID" type="hidden" />
            <input asp-for="@Model.Instruments[i].Name" type="hidden" />

        }

        @*
            TODO: Add View Model to pass in instruments here*@
        

        <button type="submit" class="btn btn-primary pull-right">Create Profile</button>
    </div>
</form>